// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2196f3,
  secondary:  #32db64,
  
  success:    #22BAA0,
  danger:     #f25656,
  info:       #12AFCB,
  warning:    #f0ad4e,

  // http://themehats.com/themes/jango/demos/default/component-colors.html
  white:    #FFFFFF,
  yellow-0:     #FFF200,
  
  regular:    #7F8C97,
  grey:     #EEEEEE,
  grey-1:     #F7F7F7,
  grey-2:     #677083,
  grey-3:     #7F8C97,
  grey-4:     #A0A6AB,
  green-0:    #32C5D2,
  green-1:    #52C9BA,
  green-2:    #5DC09C,
  green-3:    #84C68F,
  green-4:    #3CB878,
  red:      #EB5D68,
  red-1:      #CD6262,
  red-2:      #E7505A,
  red-3:      #D05163,
  das:        orange,
  orange-0:   #FF6B57,
  green-yellow: #C8D046,
  
  blue-1:     #5E9CD1,
  blue-2:     #5893DD,
  blue-3:     #57BFE1,
  blue-4:     #428DE4,
  

  brown-0:      #9D8B81,
  brown-1:      #8A7F68,
  brown-2:      #7A6A61,
  brown-3:      #685E47,

  black-0:      #000000,

  purple:   #7a6fbe,
  blue:    #2196f3,
  gris:       #8e8e8e,
  gris-light: #cacaca,

  light:      #f4f4f4,
  dark:       #222222,
  dark-0:     #2F353B,
  dark-1:     #525E64,

  energy:     #f2b632,

  tabInactive: rgba(255, 255, 255, 0.7),

  twitter:    #1da1f4,
  google:     #dc4a38,
  vimeo:      #23b6ea,
  facebook:   #3b5998,

  border:     #dddddd
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
